﻿@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.glyphicon.glyphicon-left {
    right: 5px;
}

.btn {
    border: 2px groove white;
    border-radius: 5px;
    min-width: 250px;
}

.btn:hover {
    border: 2px groove white;
}

.jumbotron.jumbotron-rounded {
    margin-top: 25px;
    margin-bottom: 45px;
    border-radius: 45px;
    border: 2px groove white;
    background: url(../Content/coin.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 90%; 
}

.jumbotron h1, .jumbotron .h1 {
    text-align: center;
    text-shadow: 2px 2px 1px white;
    color: #325032;
    font-weight: bold;
}

.jumbotron.jumbotron-rounded p {
    font-weight: bold;
}

.jumbotron.jumbotron-rounded .lead {
    text-align: center;
    text-shadow: 2px 2px 1px #325032;
    color: white;
    font-weight: bold;
}

.table-clear {
    border: 2px groove white;
}

.table-clear td {
    font-family: "Open Sans", sans-serif;
}

.table-clear thead td {
    font-size: larger;
    font-weight: bold;
}

.table-clear thead tr {
}

.table-clear thead tr td:first-child {
    text-align: center;
}

.table-clear tbody tr td:first-child {
    font-weight: bold;
    color: #df691a;
    text-align: center;
}

.container .navbar-header {
    font-weight: bold;
}