﻿@model StockCache.Models.StockVM[]

@{
    ViewBag.Title = "Stock Cache";
}

<div class="jumbotron jumbotron-rounded">
    <h1>Stock Cache</h1>
    <p class="lead">Stock Cache provides you with the best stock picks every day!</p>
    <div class="row">
        <p class="col-sm-12 col-md-4"><a href="/Picks" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-left glyphicon-signal"></span> Get your daily picks &raquo;</a></p>
        <p class="col-sm-12 col-md-4"><a href="/Swing" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-left glyphicon-time"></span> Swing trades &raquo;</a></p>
        <p class="col-sm-12 col-md-4"><a href="/Investment" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-left glyphicon-hourglass"></span> Long-term investment &raquo;</a></p>
    </div>
</div>

<div id="historicalData" class="row">
    <div id="textData" class="col-lg-12 col-md-12 col-sm-12">
        <table class="table table-striped table-responsive table-bordered table-clear">
            <thead>
                <tr>
                    <td>Symbol</td>
                    <td>Company Name</td>
                    <td>Share Price</td>
                    <td>As Of</td>
                    <td>Volume</td>
                    <td>Currency</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var vm in Model)
                {
                    <tr>
                        <td class="text-capitalize">@vm.Symbol</td>
                        <td>@vm.Name</td>
                        <td>@vm.SharePrice</td>
                        <td>@vm.AsOf.ToShortDateString()</td>
                        <td>@vm.Volume</td>
                        <td>@vm.Currency</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>